@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&family=Nunito:wght@200;300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    color: back;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body{
    width: 100%;
    font-family: 'Noto Sans';
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.project-name{
    font-size: 36px;
}

.header-text{
    font-size: 32px;
}

.search-field{
    margin: 15px 0px;
}

.search-button{
    width: 64px;
    height: 24px;
    font-weight: 500;
    background-color: #EFEFEF;
    border-radius: 5px;
}

.search-button:hover{
    background-color: #cbcaca;
}

.input{
    width: 350px;
    height: 24px;
    border-radius: 10px;
    padding-left: 10px;
}

.help{
    animation-name: help-anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes help-anim{
    0%{
        opacity: 10%;
    }
    50%{
        opacity: 100%;
    }
    100%{
        opacity: 10%;
    }
}


.header{
    display: inline-block;
    margin-bottom: 24px;
    text-align: center;
}

.weather-block{
    display: flex;
    flex-direction:column;
}


.cards{
    display: flex;
    flex-direction:row;
}

.card-header-text{
    font-size: 24px;
    padding-bottom: 10px;
}

.two-parts{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.current-image{
    height: 100px;
    width: 100px;
}

.temp{
    margin-right: 50px;
}

.temp-text{
    font-size: 32px;
    font-weight: 600;
}

.card{
    width: 300px;
    background-color: #EFEFEF;
    padding: 15px;
    border-radius: 10px;
}

.condition-text{
    font-size: 24px;
    color: darkred;
    margin-bottom: 5px;
}

.weather-card{
    margin-right: 32px;
}

.parameters{
    display: flex;
}

.name-of-param{
    margin-right: 15px;
}

.value-of-param{
    margin-right: 5px;
}

.dangerous{
    color: rgb(219, 20, 20);
    font-weight: 600;
}


.desable{
    display: none;
}
